
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: rgb(206, 212, 218);
    display: flex;
    flex-direction:row; /* Centraliza todo o conteúdo horizontalmente */
    align-items: center; /* Centraliza todo o conteúdo verticalmente */
    min-height: 100vh; /* Garante que o corpo ocupe toda a altura da viewport */
    width: 100%; /* Garante que o corpo ocupe toda a largura da viewport */
    padding: 40px;

}

.box-mensagens {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.decodificador {
    background-color: #fff;
    border-radius: 2rem; /* 32px convertidos para rem */
    width: 25rem; /* 400px convertidos para rem */
    height: 90%; /* Mantive em porcentagem pois depende da altura do elemento pai */
    position: absolute;
    top: 2.5rem; /* 40px convertidos para rem */
    right: 2.5rem; /* 40px convertidos para rem */
    padding: 1.25rem; /* 20px convertidos para rem */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.codificador {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.25rem; /* 20px convertidos para rem */
    font-family: initial;
    width: 61.25rem; /* 980px convertidos para rem */
    height: 100%;
}

.EntradaTexto {
    text-align: left;
    width: 41.75rem; /* 668px convertidos para rem */
    height: 45rem; /* 48px convertidos para rem */
    top: 10.5rem; /* 168px convertidos para rem */
    left: 4%;
    gap: 0px;
    background-color: rgba(255, 255, 255, 0); /* Não alterei este valor */
    border: none;
    position: absolute;
    font-size: 2rem; /* 32px convertidos para rem */
    font-weight: 400;
    line-height: 3rem; /* 48px convertidos para rem */
    text-align: left;
    color: #0A3871;
    border: none;
}
.aviso-formatacao{
    display: flex;
    flex-direction: row;
    width: 25.75rem;
    height: 1.125rem;
    top: 30rem;
    left: 3.125rem;
    gap: 0.5rem;
    opacity: 0px;
    position: absolute;
}
.botoes{
    display:flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    top: 33rem; /* 84.8% convertido para rem */
    left: 3.125rem; /* 50px convertidos para rem */
    gap: 1.5rem; /* 24px convertidos para rem */
    width: 42.5rem; /* 680px convertidos para rem */
    height: 4.1875rem;
}
.botao-codificar{
    width: 20.5rem; /* 328px convertidos para rem */
    height: 4.1875rem; /* 67px convertidos para rem */
    padding: 1.5rem; /* 24px convertidos para rem */
    gap: 0.5rem; /* 8px convertidos para rem */
    border-radius: 1.5rem; 
    opacity: 0px;
    background-color:#0A3871;
    color: #fff;
}
.botao-decodificar{
    width: 20.5rem; /* 328px convertidos para rem */
    height: 4.1875rem; /* 67px convertidos para rem */
    padding: 1.5rem; /* 24px convertidos para rem */
    gap: 0.5rem; /* 8px convertidos para rem */
    border-radius: 1.5rem;
    opacity: 0px;
    background-color:#D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
}
.botao-copiar{
    position: absolute;
    top: 25rem; /* 72% convertido para rem */
    width: 20.5rem; /* 328px convertidos para rem */
    height: 4.1875rem; /* 67px convertidos para rem */
    padding: 1.5rem; /* 24px convertidos para rem */
    margin-top: 5rem; /* 80px convertidos para rem */
    gap: 0.5rem; /* 8px convertidos para rem */
    border-radius: 1.5rem; 
    opacity: 0px;
    background-color:#D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
    display:none;
}
.texto-resultado{
    position: absolute;
    top: 10%;
    align-self: flex-start;
    margin-left: 2.5rem;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: inter, sans-serif;
    color: #585858;
    display:none;
    text-align: left;
    height: 25rem; /* 668px convertidos para rem */
}
.container-sem-texto{ 
    display: flex;
    justify-content: center;
}
.texto{
    position: absolute;
    top:70%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    font-family: inter, sans-serif;
    margin-top: 1.7rem;
}
.subtitulo{
    position: absolute;
    top:56%;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
    margin:20px;
}
.logo-alura{
    position: absolute;
    top: 40px;
    left: 10px;
}
.imagem-menina{
    height: 50%;
    position: absolute;
    top: 10%;
}
textarea:focus {
    outline: none;
    
}